#title {
	font-family: 'Fredericka the Great', cursive;
	font-size: 80px;
	margin: 10px 10px 20px 0px;
	float: left;
	width: 55%;
}

#q0Box,
#q1Box,
#q2Box,
#q3Box,
#q4Box,
#q5Box,
#q6Box,
#q7Box,
#q8Box,
#q9Box {
	width: 3%;
	height: 80px;
	float: left;
	margin: 10px 0px 20px 1%;
	position: relative;
}

#q0BoxSmall,
#q1BoxSmall,
#q2BoxSmall,
#q3BoxSmall,
#q4BoxSmall,
#q5BoxSmall,
#q6BoxSmall,
#q7BoxSmall,
#q8BoxSmall,
#q9BoxSmall {
	width: 99%;
	height: 40px;
	float: left;
	margin: 0px 0px 0px 1%;
	position: absolute;
	top: 0px;
}

#question,
#startStop {
	font-family: 'Josefin Slab', serif;
	font-size: 36px;
	font-style: bold;
	clear: both;
}

.color {
	height: 36px;
	margin: 25px 0px 25px 0px;
}

#answer5 {
	position: relative;
}

#timerBox {
	position: absolute;
	right: 15px;
	bottom: 7px;
}

#timer {
	font-family: 'Fredericka the Great', cursive;
	font-size: 34px;
}
